$font-family-sans-serif: 'PT Sans', sans-serif;
$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$orange: #dd7700;
$primary: $orange;

@import '~@fortawesome/fontawesome-svg-core/styles.css';
@import '~bootstrap/scss/bootstrap';

@import './HomePage';
@import './Logo';

.font-family-serif {
  font-family: $font-family-serif;
}

.EndorsementRow__hasReasoning {
  cursor: pointer;
  background-color: $light;
  &:hover {
    background-color: darken($light, 5%);
  }
}
